**NUMERIC OPERATIONS**

In [2]:
#Even number %2 is 0 and Odd number%2 is 1
x=10
print(x%2)
y=11
print(y%2)

0
1

In [3]:
#Below is called floor division(integer division)
print(15//2)

7

**STRING MANIPULATIONS**

In [5]:
#Use 3 quotes for any long text in variable
multiline = """
This is a paragraph.
Its written to test the multiline text under a variable.
..
"""

In [6]:
print(multiline)

This is a paragraph.
Its written to test the multiline text under a variable.
..

In [8]:
firstname = 'Chetan'
lastname = 'Patil'

In [10]:
name = firstname + ' ' + lastname
print(name)

Chetan Patil

In [12]:
#to print a numeric variable along with text first convert it to string.
age = 34
print('My name is: ' + name + ' Age: ' + str(age))

My name is: Chetan Patil Age: 34

In [14]:
#Another way to print is f statement
println = f'My name is: {name} and Age: {age}'
print(println)

My name is: Chetan Patil and Age: 34

In [17]:
# If f statement assinge to a variable and if you changed the parameters passed to it, new values wont get replaced. Solution is to user format
age = 35
println = 'My name is: {} and Age: {}'
print(println.format(name, age))

My name is: Chetan Patil and Age: 35

In [18]:
#If varable is numeric value stored as a string type
numstr = '33'
print(numstr*2)

3333

**Boolean operations**

In [19]:
x = True
cmp = x and 18
print(cmp)

18

In [22]:
x = True
cmp = x or 5
print(cmp)

True

In [23]:
print(18 and 19)

19

In [2]:
user = input(f'user name')

user name Chetan

In [3]:
user

'Chetan'

In [5]:
#USE OF JOIN
friends = {"Harshita", "Chetan", "Dan"}
formatted = ', '.join(friends)
print('My Friends are: {}'.format(formatted))

My Friends are: Dan, Harshita, Chetan

**Destructuring strings**

In [ ]:
friends = [("Harshita",32), ("Chetan",35), ("Dan",40)]

In [12]:
for name,age in friends:
    print(f"My friend is {name} and age is {age}")

ValueError: too many values to unpack (expected 2)

In [13]:
friends = {"Harshita":32, "Chetan":35, "Dan":40}

In [17]:
for name,age in friends.items():
    print(f"name:{name} and age:{age}")

name:Harshita and age:32
name:Chetan and age:35
name:Dan and age:40

**SLICING**

In [19]:
friends = ["Harshita", "Chetan","Dan","Sam"]
strin = "flowers"

In [21]:
friends[0:]

['Harshita', 'Chetan', 'Dan', 'Sam']

In [24]:
friends[:3]

['Harshita', 'Chetan', 'Dan']

In [26]:
friends[:-1]

['Harshita', 'Chetan', 'Dan']

In [28]:
friends[-4:]

['Harshita', 'Chetan', 'Dan', 'Sam']

In [40]:
#this is called negative step slicing. Starts at last value, then steps -1 till first value
friends[::-1]

['Sam', 'Dan', 'Chetan', 'Harshita']

In [42]:
strin[::-1]

'srewolf'

In [45]:
#Zero length slicing
friends[1:1]

[]

In [46]:
friends[1:1] = ["Karen"]
print(friends)

['Harshita', 'Karen', 'Chetan', 'Dan', 'Sam']

**LIST COMPREHENSTION**

In [47]:
nums = [0,1,2,3,4,5]
doubld_nums = []

In [49]:
for n in nums:
    doubld_nums.append(n*2)
print(doubld_nums)

[0, 2, 4, 6, 8, 10]

In [51]:
doubld_comp = [n*2 for n in nums]
print(doubld_comp)

[0, 2, 4, 6, 8, 10]

In [53]:
roll_combinations = [(d1, d2) for d1 in range(1, 7) for d2 in range(1, 7)]

**USEFUL FUNCTIONS**

In [3]:
##Enumerates
names = ["Chetan","Harshita", "Patil"]
for num,name in enumerate(names):
    print(f'{num}. {name}')

0. Chetan
1. Harshita
2. Patil

In [4]:
#ZIP Functions
movie_titles = [
    "Forrest Gump",
    "Howl's Moving Castle",
    "No Country for Old Men"
]

movie_directors = [
    "Robert Zemeckis",
    "Hayao Miyazaki",
    "Joel and Ethan Coen"
]

In [6]:
movies = zip(movie_titles,movie_directors)

In [8]:
print(movies)

<zip object at 0x000002B60F002FC0>

In [11]:
for title,director in movies:
    print(f'{title} by {director}')

Forrest Gump by Robert Zemeckis
Howl's Moving Castle by Hayao Miyazaki
No Country for Old Men by Joel and Ethan Coen

In [12]:
print(movies)

<zip object at 0x000002B60F002FC0>

In [14]:
for title,director in movies:
    print(f'{title} by {director}')