In [82]:
import mysql.connector
from mysql.connector import errorcode

In [83]:
try:
    cnx = mysql.connector.connect(user='root', password='Chetan',
                            host='localhost', database='edw')
except mysql.connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print('Invalid id or password')
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print(err.errno)
        print('Wrong dbname or db does not exists')
    else:
        print(err)
else:
    print('Connection to db successful')

Connection to db successful

In [84]:
cursor = cnx.cursor()

In [35]:
from datetime import datetime
dto = datetime.strptime('01/30/2019', '%m/%d/%Y').date()
print(dto)

2019-01-30

In [36]:
add_cust = ("INSERT INTO `edw`.`customer`"
            "(`CustomerEmail`, `Firstname`, `Lastname`, `City`, `State`, `Accountdate`)"
            "VALUES (%s, %s, %s, %s, %s, %s)"
           )

In [37]:
data_cus = ('alanflack@yahoo.com','Alan', 'Flack', 'Sacramento', 'CA', datetime.strptime('01/01/2019', '%m/%d/%Y').date())

In [38]:
cursor.execute(add_cust, data_cus)

In [39]:
cnx.commit()

In [81]:
cursor.close()
cnx.close()

In [41]:
import pandas as pd

In [67]:
custdata = pd.read_csv('custm_tst.csv', index_col=False, delimiter=',', parse_dates=['account_date'])
custdata.head()

,email,first_name,last_name,city,state,account_date
0,alanflack@yahoo.com,Alan,Flack,Sacramento,CA,2022-01-19
1,melissaloy@verizon.net,Melissa,Loy,Escondido,CA,2022-01-19
2,JPatton@aol.com,Jessica,Patton,Long Beach,CA,2022-01-19
3,cmilosevic@comcast.net,Christa,Milosevic,Anaheim,CA,2022-01-19
4,rdansereau@yahoo.com,Robert,Dansereau,Los Angeles,CA,2022-01-19

In [74]:
for i,row in custdata.iterrows():
    print(i)
    print(tuple(row))

0
('alanflack@yahoo.com', 'Alan', 'Flack', 'Sacramento', 'CA', Timestamp('2022-01-19 00:00:00'))
1
('melissaloy@verizon.net', 'Melissa', 'Loy', 'Escondido', 'CA', Timestamp('2022-01-19 00:00:00'))
2
('JPatton@aol.com', 'Jessica', 'Patton', 'Long Beach', 'CA', Timestamp('2022-01-19 00:00:00'))
3
('cmilosevic@comcast.net', 'Christa', 'Milosevic', 'Anaheim', 'CA', Timestamp('2022-01-19 00:00:00'))
4
('rdansereau@yahoo.com', 'Robert', 'Dansereau', 'Los Angeles', 'CA', Timestamp('2022-01-19 00:00:00'))
5
('LChaisson@hotmail.com', 'Laura', 'Chaisson', 'Sacramento', 'CA', Timestamp('2022-01-19 00:00:00'))
6
('ccostales@msn.com', 'Charles', 'Costales', 'Los Angeles', 'CA', Timestamp('2022-01-19 00:00:00'))
7
('dcrabtree@hotmail.com', 'Damian', 'Crabtree', 'Stockton', 'CA', Timestamp('2022-01-19 00:00:00'))
8
('wildamcgirt@yahoo.com', 'Wilda', 'Mcgirt', 'San Jose', 'CA', Timestamp('2022-01-19 00:00:00'))

In [90]:
for i,row in custdata.iterrows():
    add_cust = ("INSERT INTO `edw`.`customer`"
            "(`CustomerEmail`, `Firstname`, `Lastname`, `City`, `State`, `Accountdate`)"
            "VALUES (%s, %s, %s, %s, %s, %s)"
           )
    
    try:
        cursor.execute(add_cust,tuple(row))
        cnx.commit()
        print('Row inserted successfully')
    except mysql.connector.Error as e:
        print('Error inserting rows: ', e)

Error inserting rows:  2055: Cursor is not connected
Error inserting rows:  2055: Cursor is not connected
Error inserting rows:  2055: Cursor is not connected
Error inserting rows:  2055: Cursor is not connected
Error inserting rows:  2055: Cursor is not connected
Error inserting rows:  2055: Cursor is not connected
Error inserting rows:  2055: Cursor is not connected
Error inserting rows:  2055: Cursor is not connected
Error inserting rows:  2055: Cursor is not connected

In [89]:
cursor.close()
cnx.close()